.env
.secrets
.venv
.git
.pytest_cache
__pycache__
*.pyc
.DS_Store
tmp
output
logs
data
backups
.agents
.claude/skills
.playwright
.playwright-cli
tests
deployment
LM Lidl Bour Nicolas.pdf
LM_CCM_Bour Nicolas.pdf
Template_lm_datascientist.pages
